<h3>Tables List</h3>

<%= button_to "Back to Orders", orders_path, method: :get %>

  <ul>
  <% @parties.each do |party| %>
    <li>
      <strong>Number: </strong><%= party.number %>
    </li>
  <% end %>
  </ul>
